html { 
    box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
    box-sizing: inherit; 
}

body {
    background-color: #fff;
    color: #000;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
}

img { 
    max-width: 100%;
}

a { 
    text-decoration: none;
}

.button {
    font: inherit;
    text-decoration: none;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
}

.header-nav a {
    color: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

.header-nav a:hover {
    color: #81b3d2;
}

.header-nav a:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-nav .current {
    color: #766357;
}

.welcome {
    background-color: #e2eff7;
    background-image: url("../img/intro-welcome.svg"), url("../img/polygon_welcome.svg"), url("../img/back_welcome.jpg");
    background-position: center, bottom, center;
    background-repeat: no-repeat;
    background-size: 460px 350px, contain, cover;
} 

.advantages-block .advantages-block__title {
    font-family: inherit;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.advantages-block .advantages-block__text {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.advantages-item .advantages-item__block {
    background-color: #eee;
    color: #333;
    text-align: center;
}

.advantages-item__block .info__title {
    color: #000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.advantages-item__block .info__number,
.advantages-item__block .info__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.advantages-item:first-child .advantages-item__block,
.advantages-item:nth-child(2) .advantages-item__block {
    background-color: #81b3d2;
    color: #fff;
}

.advantages-item:first-child .info__title,
.advantages-item:nth-child(2) .info__title {
    color: #fff;
}

.advantages-also .advantages-item__block {
    background-color: #fff;
}

.registration h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.registration p {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.registration .toggle-form-search {
    background-color: #766357;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.registration .toggle-form-search:hover {
    background-color: #604e43;
}

.registration .toggle-form-search:active {
    background-color: #503e33;
    color: rgba(256, 256, 256, 0.3);
}

.registration .registration-form {
    display: none;
}

.footer {
    background-color: rgba(256, 256, 256, 0.9);
}

.footer-contact p,
.footer-contact a {
    color: inherit;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.social-links .social-links__link {
    width: 46px;
    height: 48px;
    color: #fff;
    background-color: #81b3d2;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.social-links .social-links__link:hover {
    background-color: #669ec0;
}

.social-links .social-links__link:active {
    background-color: #5496bd;
    color: rgba(256, 256, 256, 0.3);
}

.footer-creator p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.footer-creator__logo {
    color: inherit;
}

.footer-creator__logo:hover {
    color: #81b3d2;
}

.footer-creator__logo:active {
    color: rgba(0, 0, 0, 0.3);
}

.filters__form {
    background-image: url("../img/back_welcome.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.filters__form legend {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.filters__form input,
.filters__form label {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.filters__form input::placeholder {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.filters__form .form-filter__button {
    background-color: transparent;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    border: 2px solid #fff;
}

.filters__form .form-filter__button:hover,
.filters__form .form-filter__button:active {
    background-color: #fff;
    color: #000;
}

.sorting__block {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.sorting .sorting__result {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.sorting__block .sorting__link {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
}

.sorting__block .sorting__link:hover {
    border-bottom-color: #81b3d2;
    color: #81b3d2;
}

.sorting__block .sorting__link:active {
    color: #000;
    border-bottom: none;
}

.sorting__block .sorting__link--current {
    color: #81b3d2;
    border-bottom: none;
}

.item-hotel .info-hotel__name {
    color: inherit;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.item-hotel .info-hotel__name:hover {
    color: #81b3d2;
}

.item-hotel .info-hotel__name:active {
    color: rgba(0, 0, 0, 0.3);
}

.item-hotel .info-hotel-features {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.info-hotel .info-hotel__links-detail {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    background-color: #81b3d2;
}

.info-hotel .info-hotel__links-detail:hover {
    background-color: #669ec0;
}

.info-hotel .info-hotel__links-detail:active {
    background-color: #5496bd;
    color: rgba(256, 256, 256, 0.3);
}

.info-hotel .info-hotel__links-reserve {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    background-color: #766357;
}

.info-hotel .info-hotel__links-reserve:hover {
    background-color: #604e43;
}

.info-hotel .info-hotel__links-reserve:active {
    background-color: #503e33;
    color: rgba(256, 256, 256, 0.3);
}

.item-hotel__rating-stars span {
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

.item-hotel__rating .item-hotel__rating-count {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    background-color: #f2f2f2;
}